div{
  border: 1px;
}
.ulaanbaatar{
  background-color: rgb(197, 50, 50);
}
button{
  background-color: rgb(38, 149, 253);
  font-size: larger;
 }
 
 
 /* .toggle-off {
  padding: 10px 20px;
  border-radius: 40%;
  background-color: white;
}
.toggle-on {
  padding: 10px 20px;
  border-radius: 40%;
  background-color: rgb(42, 98, 163);
}  */